<section class="station-info">
  <h3 class="station-name">Name: </h3>
  <p class="station-address">Address: </p>
  <p class="station-address">Address: </p>
  <p class="station-fuel-type">Fuel type: </p>
  <p class="station-distance">Distance: </p>
  <p class="station-access-times">Access times: </p>
</section>
